@import url(https://fonts.googleapis.com/css?family=Open%20Sans);
@import "night/mermaid.dark.css";
@import "night/codeblock.dark.css";
@import "night/sourcemode.dark.css";

:root {
  --bg-color: #363B40;
  --text-color: #B1B1B1;
  --window-border-color: #333;
  --window-border: 1px solid #555;
  --md-char-color: #C7C5C5;
  --meta-content-color: #5b808d;

  --blur-text-color: #C8C8C8;

  --drag-placeholder-color: #c7c5c5;
  --panel-border-color: #777777;
  --active-toggle-btn-color: #ddd;
  --table-border-color: #ccc;

  --primary-color: #428bca;
  --primary-btn-border-color: #285e8e;
  --primary-btn-text-color: #fff;

  --search-select-bg-color: #000;
  --search-select-text-color: #fff;

  --heading-char-color: #ddd;
  --color-popover-bg-color: #fafafa;

  --control-text-color: #777;
  --control-text-hover-color: var(--text-color);

  /* Side Bar */
  --side-bar-bg-color: #363B40;
  --item-hover-bg-color: #111;
  --item-hover-text-color: #7c929e;
  --side-bar-fg-color: #DADCE0;

  --side-bar-menu-active-tint: var(--side-bar-menu-active-tint);

  --mac-title-bar-height: 20px;
  --sidebar-width: 270px;

  /* Side-bar file list */
  --active-file-bg-color: rgb(13, 33, 62); 
  --active-file-text-color: #7c929e;
  --active-file-left-border-color: #7fa8f0;
  --active-file-border-color: #777;
  --focus-ring-color: #6eace2;
  --file-item-file-name-color: #7c929e;
  --file-item-summary: #616161;

  /* Outline */
  --outline-border-color: #363B40;
  --outline-item-hover-bg-color: #363B40;
  --outline-item-hover-fg-color: white;

  /* Sidebar footer */
  --sidebar-footer-bg-color: #363B40;
  --sidebar-footer-heading-color: #7c929e;
  --sidebar-footer-fg-color: #818181;

  /* TOC Drop down */
  --toc-dropmenu-bg-color: #131516;
  --toc-dropmenu-fg-color: #9ACD32;

  --monospace: monospace;
}



/* 主体格调 */
html, body {
	/* background-color: #363B40; */
	background-color: var(--bg-color);
	font-family: Roboto, Open Sans, sans-serif;
}

html {
	font-size: 16px;
}



/*  */
#write {
	max-width: 90%;
	font-size: 1rem;
	color: var(--fg-color);
}



/* 标题 */
h1, h2, h3, h4, h5, h6 {
	width: auto;
	margin: 0px;
	font-family: Helvetica, Open Sans;
}

h1 {
	color: #0000AF;
	font-size: 32px;
	font-weight: 500;
	margin: 8px 0px;
}

h2 {
	color: #008000;
	font-size: 28px;
	font-weight: 400;
	margin: 4px 0px;
}

h3 {
	color: #9932CC;
	font-size: 23px;
	font-weight: 400;
}

h4, h5, h6 {
	color: #FFA500;
	font-size: 20px;
	font-weight: 400;
}



/* 标题输入之前格式 */
#write h1::before,
#write h2::before,
#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
	top: 0;
	color: #a23432;
	font-size: 1rem;
	position: absolute;
	font-weight: bold;
	right: calc(100% + 10px);
	color: var(--md-char-color);
	font-variant: "small-caps";
}


#write h1::before {
	font-size: 34px;
	content: "h1";
}

#write h2::before {
	font-size: 30px;
	content: "h2";
}

#write h3::before {
	font-size: 24px;
	content: "h3";
}

#write h4::before {
	font-size: 18px;
	content: "h4";
}

#write h5::before {
	font-size: 18px;
	content: "h5";
}

#write h6::before {
	font-size: 18px;
	content: "h6";
}



/*  */
p,
dd,
ol,
ul,
address,
pre,
table,
iframe,
.wp-caption,
.wp-audio-shortcode,
.wp-video-shortcode {
	margin: 4px 0px;
}



/*  斜体  */
em {
	font-family: mononoki, monospace;
	
	color: #DAA520 ;
}



address{
	background-color: #0000FF;
}



/* ol  有序列表   ul  无序列表 */
ol,
ul{
	color: #AFEEEE;
	font-family: mononoki, monospace;
}



/* 水平分隔线 */
hr{ 
	height:3px;
	border:none;
	margin: 4px 0px;
	border-top:3px dashed #0066CC;
}


/*  */
code, kbd, pre, samp {
	padding: 2px 5px;
	font-family: "Roboto Mono", Menlo, monospace;
}



/*  `内联代码片`  */
tt, 
code,
.md-fences
{
	color: #DDA0DD;
	margin: 0 0.3em;
	padding: 0 0.3em;
	/*  background: #ADD8E6; */
	font-family: mononoki, monospace;
	/*  font-weight: bold;    */        /* 加粗 */
	text-shadow: 2px 2px 8px #FF0000;   /* 阴影 */
}

.md-fences {
	margin: 15px auto;
	padding: 0.7em 1em;
	text-shadow: none;
}

.md-fences {
	margin: 10px 0px;
	background-color: #1c1e1f;
	padding: 1em;
	border: 1px solid rgba(147, 152, 182, 0.3);
	border-radius: 2px;
	font-size: 1em;
}

.md-fences .CodeMirror.CodeMirror-wrap {
	padding-left: 5px;
}

.CodeMirror-gutters {
	border: none;
}
.CodeMirror-linenumber {
	color: #444;
}




/* 超链接 */
a,
.md-def-url {
	color: #5195ea;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color:#B2FF99;
}     

/* 已访问链接 */
a:visited {
	color:#00FF00;
} 
   



/* 目录 */
#toc-dropmenu {
	background-color: var(--toc-dropmenu-bg-color);
	color: var(--toc-dropmenu-fg-color);
}

#toc-dropmenu .divider {
	background-color: rgba(229, 229, 229, 0.3);
}

.outline-item:hover {
	border-color: var(--outline-border-color);
	background-color: var(--outline-item-hover-bg-color);
	color: var(--outline-item-hover-fg-color);
}

.md-inline-math g,
.md-inline-math svg {
	stroke: #b8bfc6 !important;
	fill: #b8bfc6 !important;
}

[md-inline='inline_math'] {
	color: #9CB2E9;
}

#math-inline-preview .md-arrow:after 
{
	background: black;
}
.md-inline-math script {
	color: #81b1db;
}





/*  b       定义粗文本
	dt      定义列表中的内容
	strong  强调文本   */
b,
dt,
strong {
	color: #1E90FF;
	font-weight: 500;
	text-shadow: 2px 2px 8px #FF0000;   /* 阴影 */
}





/* 带有==记号==的文本  */
mark {
	background: #FFFF00;
}






/*  >引用文本  */
blockquote {
	padding: 10px 20px;
	background: rgba(36, 193, 200, 0.05);
	border-left: 1px solid #24c1e0;
}

.md-image>.md-meta {
	background-color: #1c1e1f;
	font-family: Roboto, Open Sans;
	font-size: 1em;
}

.md-expand.md-image>.md-meta {
	color: #5F6368;
}





/* quick open */
.auto-suggest-container {
	border: 0px;
	background-color: #525C65;
}

#typora-quick-open {
	background-color: #525C65;
}

#typora-quick-open input{
	background-color: #525C65;
	border: 0;
	border-bottom: 1px solid grey;
}

.typora-quick-open-item {
	background-color: inherit;
	color: inherit;
}

.typora-quick-open-item.active {
	background-color: #4D8BDB;
	color: white;
}

.typora-search-spinner > div {
	background-color: #fff;
}




/*  */
.btn,
.btn .btn-default {
	background: transparent;
	color: #b8bfc6;
}

.md-table-edit {
	border-top: 1px solid gray;
	background-color: #363B40;
}

.popover-title {
	background: transparent;
}





/* Sidebar Stuff */

#typora-sidebar {
	color: var(--side-bar-fg-color);
}

.sidebar-footer-main-item {
	background-color: var(--sidebar-footer-bg-color);
	color: var(--sidebar-footer-heading-color);
}

.dropdown-menu {
	color: var(--sidebar-footer-fg-color);
}

.file-list-item {
	border-bottom: 1px solid var(--window-border-color);
}


#typora-sidebar-resizer {
	border-left: 1px solid var(--window-border-color);
}

.file-list-item.active {
	border-left: 2px solid var(--active-file-left-border-color) ;
}

.file-list-item-file-name {
	color: var(--file-item-file-name-color);
}

.file-list-item-summary {
	font-weight: 500;
	font-family: "Helvetica Neue", "sans-serif";
	color: var(--file-item-summary);
}

.sidebar-tabs {
	border-bottom:0;
}

.md-table-resize-popover {
	background-color: #4B535A;
}

.form-inline .input-group .input-group-addon {
	color: white;
}

#md-searchpanel {
	border-bottom: 1px dashed grey;
}





/* 表格
<th>   表头。   
<tr>   表行。      
<td>   单元。  */
table {
	border: 3px solid green;
	border-collapse:collapse;
	margin-bottom: 20px
}

th {
	color: #439e30;
	font-size: 24px;
	font-weight: 500;
	background-color: #D2B48C;
}

table th,
table td {
	padding: 10px;
	line-height: 1.5rem;
	border: 2px solid #A9A9A9;
}

table tr:nth-child(even) {
	background: #505050;
}











 /** ported from https://codemirror.net/theme/material.css **/
 /*
      Name:       CodeMirror  代码高亮插件
      Author:     Michael Kaminsky (http://github.com/mkaminsky11)
 */



  .cm-s-inner.CodeMirror {
	background-color: #263238;
	color: rgba(233, 237, 237, 1);  }
  .cm-s-inner .CodeMirror-gutters {
	background: #263238;
	color: rgb(83,127,126);
	border: none;  }
      
  .cm-s-inner .CodeMirror-guttermarker, .cm-s-inner .CodeMirror-guttermarker-subtle, .cm-s-inner .CodeMirror-linenumber { color: rgb(83,127,126); }
  .cm-s-inner .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
  .cm-s-inner div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
  .cm-s-inner.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
  .cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line > span::selection, .cm-s-inner .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
  .cm-s-inner .CodeMirror-line::-moz-selection, .cm-s-inner .CodeMirror-line > span::-moz-selection, .cm-s-inner .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

  .cm-s-inner .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
  .cm-s-inner .cm-keyword { color: rgba(199, 146, 234, 1); }
  .cm-s-inner .cm-operator { color: rgba(233, 237, 237, 1); }
  .cm-s-inner .cm-variable-2 { color: #80CBC4; }
  .cm-s-inner .cm-variable-3, .cm-s-inner .cm-type { color: #82B1FF; }
  .cm-s-inner .cm-builtin { color: #DECB6B; }
  .cm-s-inner .cm-atom { color: #F77669; }
  .cm-s-inner .cm-number { color: #F77669; }
  .cm-s-inner .cm-def { color: rgba(233, 237, 237, 1); }
  .cm-s-inner .cm-string { color: #C3E88D; }
  .cm-s-inner .cm-string-2 { color: #80CBC4; }
  .cm-s-inner .cm-comment { color: #546E7A; }
  .cm-s-inner .cm-variable { color: #82B1FF; }
  .cm-s-inner .cm-tag { color: #80CBC4; }
  .cm-s-inner .cm-meta { color: #80CBC4; }
  .cm-s-inner .cm-attribute { color: #FFCB6B; }
  .cm-s-inner .cm-property { color: #80CBAE; }
  .cm-s-inner .cm-qualifier { color: #DECB6B; }
  .cm-s-inner .cm-variable-3, .cm-s-inner .cm-type { color: #DECB6B; }
  .cm-s-inner .cm-tag { color: rgba(255, 83, 112, 1); }
  .cm-s-inner .cm-error {
	color: rgba(255, 255, 255, 1.0);
	background-color: #EC5F67;  }
  .cm-s-inner .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: white !important;  }

  /**apply to code fences with plan text**/
  .md-fences {
	background-color: #263238;
	color: rgba(233, 237, 237, 1);
	border: none;  }

  .md-fences .code-tooltip {
	background-color: #263238;  }

  .cm-s-typora-default {
	background-color: #263238;
	color: rgba(233, 237, 237, 1);  }
  .cm-s-typora-default .CodeMirror-gutters {
	background: #263238;
	color: rgb(83,127,126);
	border: none;  }
  
  
  
  
  .cm-s-typora-default .CodeMirror-guttermarker, .cm-s-typora-default .CodeMirror-guttermarker-subtle, .cm-s-typora-default .CodeMirror-linenumber { color: rgb(83,127,126); }
  .cm-s-typora-default .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
  .cm-s-typora-default div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
  .cm-s-typora-default.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
  .cm-s-typora-default .CodeMirror-line::selection, .cm-s-typora-default .CodeMirror-line > span::selection, .cm-s-typora-default .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
  .cm-s-typora-default .CodeMirror-line::-moz-selection, .cm-s-typora-default .CodeMirror-line > span::-moz-selection, .cm-s-typora-default .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
  .cm-s-typora-default .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
  .cm-s-typora-default .cm-keyword { color: rgba(199, 146, 234, 1); }
  .cm-s-typora-default .cm-operator { color: rgba(233, 237, 237, 1); }
  .cm-s-typora-default .cm-variable-2 { color: #80CBC4; }
  .cm-s-typora-default .cm-variable-3 { color: #82B1FF; }
  .cm-s-typora-default .cm-builtin { color: #DECB6B; }
  .cm-s-typora-default .cm-atom { color: #F77669; }
  .cm-s-typora-default .cm-number { color: #F77669; }
  .cm-s-typora-default .cm-def { color: rgba(233, 237, 237, 1); }
  .cm-s-typora-default .cm-string { color: #C3E88D; }
  .cm-s-typora-default .cm-string-2 { color: #80CBC4; }
  .cm-s-typora-default .cm-comment { color: #546E7A; }
  .cm-s-typora-default .cm-variable { color: #82B1FF; }
  .cm-s-typora-default .cm-tag { color: #80CBC4; }
  .cm-s-typora-default .cm-meta { color: #80CBC4; }
  .cm-s-typora-default .cm-attribute { color: #FFCB6B; }
  .cm-s-typora-default .cm-property { color: #80CBAE; }
  .cm-s-typora-default .cm-qualifier { color: #DECB6B; }
  .cm-s-typora-default .cm-variable-3 { color: #DECB6B; }
  .cm-s-typora-default .cm-tag { color: rgba(255, 83, 112, 1); }
  .cm-s-typora-default .cm-error {
	color: rgba(255, 255, 255, 1.0);
	background-color: #EC5F67;  }
  .cm-s-typora-default .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: white !important;  }




  /**apply to code fences with plan text**/
  .md-fences {
	background-color: #263238;
	color: rgba(233, 237, 237, 1);
	border: none;  }

  .md-fences .code-tooltip {background-color: #263238; }
  .CodeMirror div.CodeMirror-cursor {	border-left: 1px solid #e4629a;  }
